<div class="card">
	<div class="card-body">
		<h2 class="card-title"><%= @tarea.titulo %></h2>
		<p class="card-text"><%= @tarea.descripcion %></p>
	</div>
</div>
<% unless @tarea.usuario.nil? %>
<p><b>Escrito por:</b> <%= @tarea.usuario.email %></p>
<% end %>