<h1>Bienvenidos a mi sitio</h1>
<p>Mi primer sitio en Rails</p>
<% nombre = "Nicolas" %>
<%= nombre %>
<% frutas = ["Uvas","Fresas","Manzanas","Peras","Mangos"] %>
<ul>
<% frutas.each do |f| %>
	<li><%= f %></li>
<% end %>
</ul>